extends ../template

block variables 
    - var title = 'Добро пожаловать'

block content 
    h1 О нас
    form
        label(for="email") email 
        input(name="email" id="email")
        label(for="password") password 
        input(name="password" id="password")
        button Войти
    .text
        h3 Широкий ассортимент оборудования
        p Так как у нас более 250 партнерских статусов, это позволяет нам предлагать широкий ассортимент оборудования (более 30 000 товаров находится на сайте, можем поставить намного больше), в тех направлениях, которыми мы занимаемся:
        .container 
            p
            ul 
                li системы безопасности;
                li видеонаблюдение;
                li электрооборудование;
                li расходные материалы;
                li кабельные системы;
        h3 Только официальные поставки
        p У нас Вы найдете то оборудование, которое Вы ищете. А даже, если оно снято с производства, мы подберем Вам лучший аналог из того широкого ассортимента, что представлен на сайте, кстати, по классной цене!
    
    .img2
        img.image2(src="/assets/images/video2.jpg")
        img.image2(src="/assets/images/video3.jpg")