extends ../template

block variables 
    - var title = 'Добро пожаловать'

block content 
    h1 Системы видеонаблюдения
    form
        label(for="email") email 
        input(name="email" id="email")
        label(for="password") password 
        input(name="password" id="password")
        button Войти
    .text
        h3 ЭФФЕКТИВНОСТЬ СИСТЕМ ВИДЕОНАБЛЮДЕНИЯ
        p Система видеонаблюдения – одна из главных составляющих современной безопасности. 
            |Поэтому для достижения оптимальных результатов, очень важно грамотно оценить эффективность наиболее распространенных систем.
            |При оценке обычно ориентируются на требования, предъявляемые общей концепцией безопасности конкретного объекта.

    .img
        img.image(src="/assets/images/video.jpg")
        

